* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* classe creata sia per il logo che per il nome del sito per allinearli verticalmente */
.align-middle {
    display: inline-block;
    vertical-align: middle;
}

/* grandezza logo */
.logo {
    width: 80px;
}

/* grandezza nome sito */
.nome-logo {
    font-size: 70px
}

/* contenitore con al suo interno logo e nome sito */
.container-logo {
    padding-left: 40px;
    background-color: white;
    margin-bottom: 30px;
}

body {
    background-color: rgb(223, 220, 220);
}

/* container con all'interno tutto il main della pagine e le nostre liste */
.buttons {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    padding-left: 80px;
    margin-bottom: 3px;
    font-family: "Newsreader", serif;
    font-style: normal;
}

/* classe data al bottone task */
#task {
    width: 100px;
    height: 50px;
    background-color: rgb(54, 166, 236);
    border-radius: 10%;
    margin-bottom: 20px;
}

/* classe data al bottone section */
#section {
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 10%;
    margin-left: 1%;
}

#add-task-color {
    color: white;
}

#add-section-color {
    color: grey;
}

button {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Secondo DIV per la gestione delle liste */
.lists {
    height: 720px;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding-left: 80px;
    padding-top: 50px;
    margin-bottom: 10px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    font-family: "Newsreader", serif;
    font-style: normal;
}

li {
    font-size: x-large;
    padding-right: 1%;
    margin-bottom: 20px;

}

ul {
    list-style-type: none;
}

/* Sezione per le caratteristiche delle entities */
.entities-check {
    border: 1px solid green;
    border-radius: 50%;
    margin-left: 5px;
    padding: 4px;
    color: green;
}

.entities-cross {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    margin-left: 5px;
    padding: 4px;
    color: rgb(255, 0, 0);
}

h2 {
    margin-bottom: 10px;
}

/* Sezione per le caratteristiche delle etichette */
.editorial {
    color: white;
    background-color: rgb(54, 166, 236);
    border-radius: 10%;
    padding: 8px;
    font-size: 15px;
}

.q1-goals {
    color: white;
    background-color: rgb(177, 25, 177);
    border-radius: 10%;
    padding: 8px;
    font-size: 15px;
}

.recruiting {
    color: white;
    background-color: rgb(55, 172, 152);
    border-radius: 10%;
    padding: 8px;
    font-size: 15px;
}

.mobile {
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 10%;
    padding: 8px;
    font-size: 15px;
}

.distance-lists {
    margin-top: 10px;
}